src/out
src/.vs
src/CMakeSettings.json
src/release
*.pyc
# Don't know why files were written here, but they aren't necessary
/src/Cpp/exceptions/out/build/x64-Debug 
build/Python/.vscode
src/Python/.vscode
out_vg_score.json
Sample Usage/AnalysisCInterfaceSampleUsage/.vs/AnalysisCInterfaceSampleUsage/v16/.suo
Sample Usage/AnalysisCInterfaceSampleUsage/.vs/AnalysisCInterfaceSampleUsage/v16/.suo
Sample Usage/AnalysisCInterfaceSampleUsage/.vs/AnalysisCInterfaceSampleUsage/v16/Browse.VC.opendb
Sample Usage/AnalysisCInterfaceSampleUsage/x64/Release/Analysis.4AC21E60.tlog/AnalysisCInterfaceSampleUsage.lastbuildstate
Sample Usage/AnalysisCInterfaceSampleUsage/x64/Release/Analysis.4AC21E60.tlog/AnalysisCInterfaceSampleUsage.write.1u.tlog
Sample Usage/AnalysisCInterfaceSampleUsage/x64/Release/Analysis.4AC21E60.tlog/CL.command.1.tlog
*.tlog
*.exe
*.iobj
*.ipdb
*.log
Sample Usage/AnalysisCInterfaceSampleUsage/x64/Release/AnalysisCInterfaceSampleUsage.obj
*.pdb
Sample Usage/AnalysisCInterfaceSampleUsage/x64/Release/test_raycasting.obj
Sample Usage/AnalysisCInterfaceSampleUsage/.vs/AnalysisCInterfaceSampleUsage/v16/.suo
Sample Usage/AnalysisCInterfaceSampleUsage/.vs/AnalysisCInterfaceSampleUsage/v16/.suo
Sample Usage/AnalysisCInterfaceSampleUsage/.vs/AnalysisCInterfaceSampleUsage/v16/.suo
