x64/Debug/*.tlog
x64/Debug/*.exe
x64/Debug/*.ilk
x64/Debug/*.log
x64/Debug/*.obj
x64/Debug/*.pdb
x64/Debug/*.dll
x64/Debug/*.lib
x64/Debug/*.idb
x64/Debug/*.pdb

x64/Release/*.tlog
x64/Release/*.exe
x64/Release/*.ilk
x64/Release/*.log
x64/Release/*.obj
x64/Release/*.pdb
x64/Release/*.dll
x64/Release/*.lib
x64/Release/*.idb
x64/Release/*.pdb
